.App {
  text-align: center;
  
}

div {
  box-sizing: border-box;
}

.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  justify-content: center;
  padding-top: 16px;
}

.body {
  margin:auto;
  width: 92%;
  max-width: 700px;
  height: 100%;
  padding-top: 24px;
 
  
}

.player-computer-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.computer-container {
  text-align: left;
}

.player-container {
  text-align: right;
}

.card-container {
  background:  #eee;
  border-radius: 16px;
  min-width: 10px;
  max-width: 300px;
  min-height: 10px;
  max-height: 300px;
  margin-top: 16px;


}
p {
  margin: 0;
}
h1 {
  margin: 0;
  
}

h4{
  margin: 0;
  padding-bottom: 16px;
}
.card-icon {
  font-size: 96px;
  margin: 0;
  user-select: none;
}

.score {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  
  padding-left: 24px;
  padding-right: 24px;
  flex-grow: 0.5;
}
.score-text {
  font-size: 48px;
  margin: 24px;
}

.win-text {
  font-size: 24px;
  color: green;
}



.buttons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

}

.button-card {
  font-size: 64px;
  margin: 12px;
  background-color: #eee;
  border-radius: 16px;
  user-select: none;
  cursor: pointer;
}

.game-rule {
  margin-top: 16px;
  margin-bottom: 48px;
  padding: 24px;
  text-align: left;
  background: #eee;
}
.rules {
  font-size: 14px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
